@model Autenticacao.Models.Torneio
@using Microsoft.AspNetCore.Identity
@using Autenticacao.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Torneio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeTorneio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeTorneio)
        </dd>
        @if (SignInManager.IsSignedIn(User))
        {
            <dt>
                @Html.DisplayNameFor(model => model.QuantidadeJogadores)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.QuantidadeJogadores)
            </dd>
            @if (Model.Dono == User.Identity.Name)
            {
                <dt>

                    @Html.DisplayNameFor(model => model.Inicio)
                </dt>
                <dd>



                    @Html.DisplayFor(model => model.Inicio)

                </dd>
            }
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
